<div class="product-card">
  <div class="card-deck">
    <div class="card" style="width: 18rem;" *ngFor="let product of products">
      <img [src]=product.image class="card-img-top product-image" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title" *ngIf="product.title.length > 50">
          {{ product.title | slice:0:40 }}...
        </h5>
        <h5 class="card-title" *ngIf="product.title.length <= 50">
          {{ product.title }}
        </h5>
        <p class="card-text"> {{ product.description | slice : 0:100}}... </p>
        <h5 class="card-price"> Price {{product.price | currency:'INR'}} </h5>
        <a href="#" class="btn btn-primary btn-block" (click)="addToCart(product)">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
