<nav class="navbar navbar-expand-lg navbar-light bg-secondary-subtle p-4">
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-lg-6 d-flex justify-content-start align-items-center">
        <div class="user-list me-5">
          <select class="form-select">
            <option disabled hidden selected>Select User</option>
            <option>Smartphone</option>
            <option>Smartphone</option>
            <option>Smartphone</option>
          </select>
        </div>
        <div class="search-bar d-flex gap-2">
          <input type="text" class="form-control" placeholder="Search...">
          <button type="button" class="btn btn-primary">Search</button>
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-end align-items-center">
        <div class="category-list me-5">
          <select class="form-select">
            <option disabled hidden selected>Select Category</option>
            <option>Smartphone</option>
            <option>Smartphone</option>
            <option>Smartphone</option>
          </select>
        </div>
        <div class="cart">
          <button type="button" class="btn btn-dark">Cart</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
