<p>decorators works!</p>
<app-child-decorator></app-child-decorator>
<p #pRef>
    Start editing to see some magic happen :)
</p>

<app-child-decorator></app-child-decorator>
<app-child-decorator></app-child-decorator>
<app-child-decorator #lastComponent></app-child-decorator>

<p> Angular 1</p>
<p> Angular 2</p>
<p> Angular 3</p>
<p> Angular 4</p>
<p> Angular 5</p>

<hr>
<div>
  <app-child-content>
    <p #projectedParagraph>Projected Paragraph</p>
  </app-child-content>
</div>
<hr>

<div> </div>
