<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Product List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products | async">

                <td>{{product.id}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.price}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
