<form #loginForm="ngForm" class="container mt-4" (ngSubmit)="userLogin(loginForm)">
  <div class="mb-3">
    <label for="userT" class="form-label">Username</label>
    <input type="text" class="form-control" id="userT" name="name" placeholder="Enter Name" ngModel>
  </div>
  <div class="mb-3">
    <label for="passwordT" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordT" name="password" placeholder="Enter Password" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
