.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin: 20px;
}

.users-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    width: 50%;
    height: 600px;
    padding: 30px;
}

.add-user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    width: 50%;
    height: 600px;
    overflow-y: scroll;
}
