<div class="container mt-5">
  <h2>Your Shopping Cart</h2>
  <div *ngFor="let item of items" class="row mt-4">
    <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="{{item.image}}" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title"> {{item.title}} </h5>
          <p class="card-text">Product Description</p>
          <h5 class="card-price">{{item.price}}</h5>
          <a href="#" class="btn btn-primary btn-block">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>
