<div class="test">
  <p> {{ today | date:'shortTime'}} </p>
  <p> {{ today | date:'fullDate'}} </p>
  <p> {{ today | date}} </p>

  <h2> ngSwitch Binding </h2>
  <h4> Pick Your Favourite Color : </h4>
  <li type="none">
    <input type="radio" id="red" name="fav-color" value="Red">
    <label> Red </label><br>
    <input type="radio" id="blue" name="fav-color" value="Blue">
    <label> Blue </label><br>
    <input type="radio" id="green" name="fav-color" value="Green">
    <label> Green </label><br>
  </li>

  <button class = "btn btn-primary" (click)="selectRadioValue()"> Select</button>
  <br>
  ---------------------------------------------------------------------------------------
  <div [ngStyle]="currentStyles">
    This div is initially italic, normal weight, and extra large (24px).
  </div>

  <br>
  ---------------------------------------------------------------------------------------

  <h2> ngModel </h2>

  <input [(ngModel)]="Copytext">
  <br>
  <strong> {{Copytext}} </strong>
  <br>
  <input type="text" value="{{Copytext}}">

  <br>
  ---------------------------------------------------------------------------------------
  <br>

  <h2> Template Variables </h2>

  <input type="number" #phone placeholder="Enter Phone Number : " aria-label="Small" aria-describedby="inputGroup-sizing-sm">
  <br>
  <br>
  <button type="button" (click)="callTo(phone.value)" class="btn btn-primary"> Call</button>

  <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" name="name" ngModel required />
    <button type="submit">Submit</button>
  </form>

  <div [hidden]="!itemForm.form.valid">
    <p>{{ submitMessage }}</p>
  </div>

  <br>

  <input #ref1 type="text" [(ngModel)]="firstExample" />
  <span *ngIf="true">Value: {{ ref1.value }}</span>

  <br>
  ---------------------------------------------------------------------------------------
  <br>

  <h2> Binding Syntax </h2>

  <button type="button" [disabled]="isUnchanged" class="btn btn-primary">Save</button>
  <input type="text" id="myInput" value="Sarah">

  <br>
  ---------------------------------------------------------------------------------------
  <br>

  <app-classstylebinding> </app-classstylebinding>

  <hr>
  <app-directives></app-directives>
  <hr>

  <hr>
  <app-component></app-component>
  <hr>
  <h1> Decorators </h1>
  <app-decorators></app-decorators>
  <hr>
  <h1>Pipes</h1>
  <app-pipes></app-pipes>
  <hr>
  <h1> Custom Modules </h1>
  <app-products></app-products>
</div>
