<p [class]='classesToApply'> Class Binding </p>
<h1 [class.colorClass]="isColor"> Single Class Binding </h1>
<h2 [class]="classExpression"> Multiclass Binding </h2>

<button type="button" [style.color]="status === 'error' ? 'red' : 'blue' "> Style </button>
<br>
<button type="button" [style.color]="getColor()"> Style </button>

<p [style.font-size.px]="'100'"> Setting the units </p>

<p [style.color]="getColor()"
   [style.font-size.px]="'20'"
   [style.background-color]="status=='error' ? 'red': 'blue'">
  paragraph with multiple styles
</p>

<hr>
<h1> Property Binding </h1>

<img [src]="imageUrl" [style.width.px]="300" alt="image">

<br>
<br>

<button class="btn btn-primary" [disabled]="isUnchanged"> Toggle</button>

<hr>
<h1> Two-Way Binding </h1>
<app-sizer [(size)]="fontSizePx"></app-sizer>
<p [style.font-size.px]="fontSizePx"> Resizable Text </p>
<label for="font-size">FontSize (px): <input id="font-size" [(ngModel)]="fontSizePx"></label><br>
<app-sizer [(size)]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-sizer>
