<div class="card mb-3" style="width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="product.images[0]" class="img-fluid rounded-start" alt="Product Image">
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title mb-0">{{product.title}}</h5>
        <p class="card-text mb-1">{{product.description}}</p>
        <p class="card-text mb-0"><small class="text-muted">{{product.price | currency:'INR'}}</small></p>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
</div>
