<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Employee List </h2>
    <h4> Separate instance of Services</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">

        <td>{{employee.empId}}</td>
        <td>{{employee.empName}}</td>
        <td>{{employee.empSalary}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<button (click)="incrementSalary()"> Increment</button>
