<div class="product-card">
  <div class="card-deck">
    <div class="card" style="width: 18rem;" *ngFor="let product of products">
      <img src="{{ product.image }}" class="card-img-top product-image" alt="...">
      <div class="card-body">
        <h5 class="card-title"> {{ product.title}} </h5>
        <p class="card-text"> {{ product.description}} </p>
        <h5> Price {{product.price | currency:'INR'}}</h5>
        <a href="#" class="btn btn-primary"> Add To Cart </a>
      </div>
    </div>
  </div>
</div>
